body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

button {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

.board {
  margin-bottom: 20px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 3em;
  font-weight: bold;
  line-height: 10vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
  height: 10vw;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.scoreboard, .gameOptions {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  text-align: center;
}

.scoreboard > div {
  border: 1px solid #999;
  width: 100px;
  padding: 10px;
}

.gameOptions > div {
  margin-right: 10px;
}

.winStatus {
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 2px;
}
